<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.keil.uv4.axflauncher">
<intAttribute key="com.keil.uv4.core.ATTR_UV4_PORT" value="5101"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="false"/>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="false"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_OUTPUT_ON" value="false"/>
</launchConfiguration>
